 {
    "extends": [
      "react-app",
      "react-app/jest",
      "prettier"
    ],
    "plugins": [
      "react",
      "prettier"
    ],
    "rules": {
      "func-style": ["error", "expression"],
      "import/imports-first": [
        "error",
        "absolute-first"
      ],
      "import/newline-after-import": "error",
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": true
        }
      ],
      "no-underscore-dangle": 0,
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      ],
      "react/prop-types": 0

    },
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true,
      "FormData": true,
      "FileReader": true,
      "Blob": true,
      "navigator": true
    }
  }
