.vsmflow {
  flex-direction: column;
  display: flex;
  height: 600px;
  background: rgb(238, 238, 240);
}

.vsmflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.vsmflow aside .description {
  margin-bottom: 10px;
}

.vsmflow .vsmnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.vsmflow .vsmnode.input {
  border-color: #0041d0;
}

.vsmflow .vsmnode.output {
  border-color: #ff0072;
}

.vsmflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .vsmflow {
    flex-direction: row;
  }

  .vsmflow aside {
    width: 20%;
    max-width: 250px;
  }
}
